// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

.member {
    @include outer-container;
    h1 {
        color: $dark;
        font-size: 5em;
        font-family: "Aleo";
        text-align: center;
        line-height: 1.2em;
        margin-bottom: 0em;
    }

    .picture {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        text-align: center;
    }

    @include clearfix();
}

.info {
    @include span-columns(6);
    @include shift(3);
    @include clearfix();
    text-align: center;
}

.thumbnail {
    border: solid 0.2em #AAA;
    @include transition(all, 500ms, ease-in-out);
}


